:root{
  --color: "white";
  --background: white;
}
html, body {
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100%;
  color: var(--color);
  background: var(--background);
}

.light {
  --color: black;
  --background: gray
}

.dark {
  --color: white;
  --background: black;
}

