.movie {
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(227, 222, 231);
    text-align: center;
    margin: 10px;
    width: 700px;
}

td, th {
    padding: 15px;
}

input {
    text-align: center;
}



.edit {
    text-align: center;
    padding: 10px;
}

